<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>

    <springProfile name="!prod"> <!-- local, dev Profile 의 경우 -->
        <include resource="console-appender.xml"/>

        <root level="INFO"> <!-- 로그 출력을 appender 에게 위임. appender 는 로그 메세지가 출력될 대상을 결정한다. -->
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod"> <!-- prod Profile 의 경우 -->
        <include resource="file-info-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
